main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: url('../images/wall.png');
}

.menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 6rem;
  width: 100%;
  background-color: #000;
  color: #fff;
  border-bottom: .4rem solid #ffd700;
}

.menu-subtitle {
  color: #f00;
}

.menu-time h2:nth-child(2),
.menu-score h2:nth-child(2) {
  margin-top: 1rem;
}

.menu-lives {
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel {
  margin-top: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square {
  width: 10rem;
  height: 10rem;
  border: 1px solid #000;
  background-color: #d8cec1;

}

.top-left-corner {
  border-top-left-radius: .8rem;
}

.bottom-left-corner {
  border-bottom-left-radius: .8rem;
}

.top-right-corner {
  border-top-right-radius: .8rem;
}

.bottom-right-corner {
  border-bottom-right-radius: .8rem;
}

.enemy {
  background-image: url('../images/ralph.png');
  background-size: cover;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.5); 
  padding: 1rem;
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 2rem;
  border: 1px solid #888;
  border-radius: .8rem;
  width: 50%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 2rem;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}